<div class="box">
    <div class="block">
        <p class="title is-size-5 has-text-left">Passengers</p><br>
        <% @booking.passengers.each do |passenger| %>
            <div class="block">
                <p><strong>Name:</strong> <%= passenger.name %></p>
                <p><strong>Email:</strong> <%= passenger.email %></p>
            </div>
        <% end %>
    </div>
</div>