<div class="block level-item mt-5">
    <div class="column is-half">
        <%= render "summary" %>
        <div class="block"></div>
        <%= render "passengers"%>
        <%= link_to "Book new flight", root_path, class:"button is-info" %>
    </div>
</div>